.vehicleContainer {
  width: 60%;
  color: white;
  margin: 150px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 150px;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 150px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 150px;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 150px;
  }
}

.vehicleH4 {
  padding-bottom: 0.5rem;
}

.vehicleRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid grey;
}

.imperial {
  color: grey;
}

.right {
  text-align: right;
  padding-right: 0.5rem;
}

.vehicleDescription {
  padding-right: 0.5rem;
}

.nextRow {
  display: grid;
  align-items: center;
  height: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  flex-grow: 1;
}

.backArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
}

.nextArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid white;
  border-bottom: 15px solid transparent;
  margin-left: auto;
}

.next {
  margin-left: auto;
}
.circlesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.circle {
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid white;
}

.circleLeft {
  justify-self: end;
  margin-right: 0.5rem;
}

.selectedPage {
  background-color: white;
}

.arrows {
  cursor: pointer;
}

.circle {
  cursor: pointer;
}

.buttonsRow {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-content: space-around;
  justify-content: space-between;
}

.slider {
  -webkit-animation: slider 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slider 1s; /* Firefox < 16 */
  -ms-animation: slider 1s; /* Internet Explorer */
  -o-animation: slider 1s; /* Opera < 12.1 */
  animation: slider 1s;
}

@keyframes slider {
  from {
    margin-left: 120%;
  }
  to {
    margin-left: 0.5rem;
  }
}

@-moz-keyframes slider {
  from {
    margin-left: 120%;
  }
  to {
    margin-left: 0.5rem;
  }
}

@-ms-keyframes slider {
  from {
    margin-left: 120%;
  }
  to {
    margin-left: 0.5rem;
  }
}

@-webkit-keyframes slider{
  from {
    margin-left: 120%;
  }
  to {
    margin-left: 0.5rem;
  }
}