.mainMissionContainer {
  width: 60%;
  margin: auto;
}

.timeToMission {
  justify-self: end;
}

.upcomingMissionContainer {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.activeMore {
  margin-top: 150px;
  transition: margin-top 1s;
}

.notActiveMore {
  margin-top: 250px;
  transition: margin-top 1s;
}

.missionName {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  height: 60px;
  line-height: 60px;
}

.missionInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.activeInfoContainer {
  opacity: 1;
  transition: all 1s;
}

.notActiveInfoContainer {
  opacity: 0;
  transition: all 1s;
}

.infoRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid grey;
  height: 50px;
  line-height: 50px;
}

.nextMissionInfo {
  justify-self: end;
}

.data {
  justify-self: end;
}

.missionDetails{
  margin-right: 0.5rem;
}

@media only screen and (max-width: 450px) {
  .missionInfoContainer {
    font-size: small;
    padding: 0.5rem;
  }
  .leftColumn {
    width: 100%;
  }
  .rightColumn {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .upcomingMissionContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .missionName {
    font-size: 1.5rem;
  }
  .name {
    margin-top: 2rem;
  }
  .missionInfoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  .leftColumn {
    width: 90%;
  }
  .rightColumn {
    width: 90%;
  }
  .activeMore {
    margin-top: 80px;
    transition: margin-top 1s;
  }

  .notActiveMore {
    margin-top: 150px;
    transition: margin-top 1s;
  }
  .leftColumnMissionMame{
    margin-bottom: 0.2rem;
    border-bottom: 1px solid grey;
    height: 50px;
    line-height: 50px;
  }
  .missionDetails{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: 100%;
    display: block; 
  }
  .infoRow{
    font-size: small;
  }
  .first{
    border-top: 1px solid grey;
  }
}

@media only screen and (max-width: 1100px) {
  .mainMissionContainer {
    width: 80%;
  }
  .missionName {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1401px) and (min-width: 1101px) {
  .missionName {
    font-size: 1.5rem;
  }
  .mainMissionContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 1800px) {
  .missionName {
    font-size: 2rem;
  }
}
