.missionButton{
    color:white;
    border: 2px solid #005288;
    cursor: pointer;
    background: none;
    background-image: linear-gradient(#005288, #005288);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s, color .3s;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
}

.missionButton:hover{
    background-size: 100% 100%;
}

.missionButton:focus{
    outline: none;
}

.missionButton:hover{
    cursor: pointer;
}