.missionButton{
    color:white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: 4px solid #005288;
    cursor: pointer;
    background: none;
    background-image: linear-gradient(#005288, #005288);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s, color .3s;
    width: 150px;
}

.missionButton:hover{
    background-size: 100% 100%;
}

.missionButton:focus{
    outline: none;
}

.missionButton:hover{
    cursor: pointer;
}