.chartFilterDiv {
  color: white;
  width: fit-content;
  margin-top: 0.5rem;
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.selectedChartRow {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.chartRow {
  cursor: pointer;
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .chartFilterDiv {
    width: 80%;
  }
  .chartRow {
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  .chartFilterDiv {
    width: 95%;
  }
}
