.allMissionsContainer {
  /* the animation are currently on the vehicles css */
  color: white;
  -webkit-animation: missionFadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: missionFadeIn 1s; /* Firefox < 16 */
  -ms-animation: missionFadeIn 1s; /* Internet Explorer */
  -o-animation: missionFadeIn 1s; /* Opera < 12.1 */
  animation: missionFadeIn 1s;
  margin: 50px auto;
}

.headerItem {
  text-align: center;
}

@keyframes missionFadeIn {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 50px;
  }
}

/* Firefox < 16 */
@-moz-keyframes missionFadeIn {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 50px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes missionFadeIn {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 50px;
  }
}

/* Internet Explorer */
@-ms-keyframes missionFadeIn {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 50px;
  }
}

.loadingContainer {
  margin-top: 150px;
}

.infoHeader {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
}

.mainInfo {
  display: grid;
  grid-template-columns: 50px 1fr;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  height: 500px;
}

.darkItem {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.dropDownItems {
  text-align: center;
  margin-bottom: 1rem;
}

.noneActiveFilter {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}

.activeFilter {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}

.nonActiveSelection {
  -moz-transition: height 0.5s, width 0.5s;
  -ms-transition: height 0.5s, width 0.5s;
  -o-transition: height 0.5s, width 0.5s;
  -webkit-transition: height, 0.5s width 0.5s;
  transition: height 0.5s, width 0.5s;
  width: 0;
  overflow: hidden;
}

.activeSelection {
  -moz-transition: height 0.5s, width 0.5s;
  -ms-transition: height 0.5s, width 0.5s;
  -o-transition: height 0.5s, width 0.5s;
  -webkit-transition: height 0.5s, width 0.5s;
  transition: height 0.5s, width 0.5s;
  width: 140px;
}

.dropdownContent {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-auto-rows: 40px;
}

.dropdowLeft {
  width: 140px;
  background-color: #005288;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.dropdownRight {
  background-color: #005288;
  position: relative;
  z-index: 10;
}

.clearFilter {
  background-color: #005288;
  width: 140px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.selectionItem {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

#outcome {
  height: 80px;
  cursor: pointer;
}

.filterButtonDiv {
  display: grid;
  grid-auto-columns: 140px;
  grid-auto-flow: column;
  height: 40px;
  gap: 5px;
}

.filterItem {
  height: 40px;
}

.filterValues {
  height: 40px;
  line-height: 40px;
  background-color: #005288;
  vertical-align: top;
  text-align: center;
}

.missionRowHeader {
  display: grid;
  grid-template-columns: /* repeat(7, 1fr); */ 0.5fr 0.5fr 0.5fr repeat(3, 1fr) 0.5fr;
  height: 50px;
  align-content: center;
  justify-items: center;
  text-align: center;
}

.informationRow {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr repeat(3, 1fr) 0.5fr;
  height: 50px;
  /* align-content: center; */
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  cursor: pointer;
}

.noResultsFound {
  width: 100%;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

.noResultsSubContainer{
  border: 5px solid #005288;
  padding: 2rem;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.information {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.lastItem {
  border-bottom: 1px solid grey;
}

.infoItem {
  align-self: center;
}

.upArrowContainer {
  height: 50px;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.downArrowContainer {
  height: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.upArrow {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: auto;
}

.enabledUpArrow {
  cursor: pointer;
  border-bottom: 15px solid white;
}

.disabledUpArrow {
  border-bottom: 15px solid grey;
}

.downArrow {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: auto;
}

.enabledDownArrow {
  cursor: pointer;
  border-top: 15px solid white;
}

.disabledDownArrow {
  border-top: 15px solid grey;
}

.selectorCol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.circlesCont {
  margin-right: 1rem;
  height: 350px;
  display: grid;
  align-items: center;
  width: 100%;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.filter {
  width: 80%;
  margin: auto;
  position: relative;
  height: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  margin-bottom: 1rem;
}

.spinner {
  margin: auto;
  text-align: center;
}

.noResultsHeader {
  margin-bottom: 1rem;
}

.noResultsH5 {
  margin-bottom: 0.5rem;
}

.clearAndTryAgain {
  cursor: pointer;
  color: rgb(133, 110, 110);
}

.infoHeaderValues {
  font-size: 4rem;
  text-align: center;
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  .missionRowHeader {
    font-size: small;
  }
  .informationRow {
    font-size: small;
  }
  .filter {
    width: 90%;
  }
  .mainInfo {
    width: 90%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 999px) {
  .missionRowHeader {
    font-size: small;
    grid-template-columns: 0.3fr 0.7fr 0.5fr repeat(3, 1fr) 0.5fr;
  }
  .informationRow {
    font-size: small;
    grid-template-columns: 0.3fr 0.7fr 0.5fr repeat(3, 1fr) 0.5fr;
  }
  .filter {
    width: 95%;
  }
  .mainInfo {
    width: 95%;
  }
}

@media only screen and (max-width: 450px) {
  .filterButtonDiv {
    grid-auto-columns: 75px;
  }
  .dropdownRight {
    font-size: small;
  }
  .filterValues {
    font-size: small;
  }
  .headerItem{
    font-size: 0.8rem;
    padding-right: 0.5rem;
  }
  .infoHeaderValues{
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 451px) and (max-width: 649px) {
  
  .dropdownContent {
    grid-template-columns: 90px 90px;
  }
  .dropdownRight {
    font-size: small;
  }
  .filterValues {
    font-size: small;
  }
}

@media only screen and (max-width: 649px) {
  .filterButtonDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .filterValues{
    width: 120px;
  }
  .missionRowHeader {
    font-size: x-small;
    grid-template-columns: 0.5fr repeat(4, 1fr);
  }
  .informationRow {
    font-size: x-small;
    grid-template-columns: 0.5fr repeat(4, 1fr);
  }
  .filter {
    width: 95%;
  }
  .mainInfo {
    width: 95%;
  }
  .customer {
    display: none;
  }
  .launchSite {
    display: none;
  }
  .noResultsSubContainer{
    width: 80%;
  }
  .selectorCol {
    width: 40px;
  }
  .infoHeader {
    width: 90%;
  }
  .dropdowLeft {
    width: 120px;
  }
  .clearFilter {
    width: 120px;
  }
  .dropdownRight{
    width: 120px;
  }
  .dropdownContent{
    grid-template-columns: 120px 120px;
  }
}

.ReactModal__Content {
  padding: 0 !important;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Overlay {
  z-index: 11;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  overflow-y: auto;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalContainer {
  width: 600px;
  height: 600px;
  color: white;
  padding-top: 1rem;
  background-color: #005288;
  position: relative;
}

.missionsModal {
  position: relative;
}

.headerRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}

.launchOverview {
  font-size: 2.5rem;
}

.launchName {
  margin-bottom: 0.5rem;
}

.leftHeader {
  align-self: center;
}

.rightHeader {
  justify-self: end;
  align-self: center;
}

.patchLogo {
  height: 100px;
  width: 100px;
}

.launchInfoContainer {
  width: 90%;
  margin: auto;
}

.launchInfoRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  border-bottom: 1px solid grey;
  align-content: center;
}

.launchInfoRight {
  justify-self: end;
  align-self: center;
}

#modalNextRow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  width: 90%;
  margin: auto;
}

.videoContianer {
  margin: auto;
  width: 90%;
  text-align: center;
}

.missionVideo {
  width: 100%;
  height: 300px;
}

.missionButtonsDiv {
  padding-top: 1rem;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sliderContainer{
  display: flex;
  flex-direction: column;
  height: 350px;
}


.wikipedia {
  justify-self: left;
}

.pressKit {
  justify-self: end;
}

.newsArticle {
  justify-self: left;
}

.errorDiv {
  display: grid;
  align-content: center;
  height: 40px;
  border: 2px solid white;
  cursor: default;
  width: 140px;
}

@media only screen and (max-width: 750px) {
  .modalContainer {
    width: 100%;
    height: 450px;
  }
  .headerRow {
    padding-bottom: 0.5rem;
  }
  .missionsModal {
    width: 80vw !important;
    height: 450px !important;
  }
  .launchInfoRow {
    height: 40px;
  }
  .patchLogo {
    height: 80px;
    width: 80px;
  }
  .launchOverview {
    font-size: 1.5rem;
  }
  #modalNextRow {
    bottom: 0.5rem;
  }
  .launchInfoContainer {
    font-size: medium;
  }
  .missionVideo {
    height: 200px;
  }
}

@media only screen and (max-height: 600px) {
  .missionsModal {
    top: 100px !important;
  }
}
