.chartsContainer{
  margin-bottom: 1rem;
}

.chartContainer {
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  position: relative;
  height: 60vh;
  color: white;
}

.chartHeader {
  margin-top: 100px;
  color: white;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}




.chartRow {
  cursor: pointer;
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
}

.selectedChartRow {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.chartSpinner {
  padding-top: 150px;
  text-align: center;
  margin: auto;
}

.boostersContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boostersLanded{
  font-size: 4rem;
}

.graphInfo{
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

@media only screen and (max-width: 800px) {
  .chartContainer {
    width: 80%;
  }
  .chartRow {
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  .chartContainer {
    width: 95%;
    height: 50vh;
  }
  .chartFilterDiv{
    width: 95%;
  }
  .chartHeader{
    font-size: 1rem;
  }
}


