*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background: url('./images/spacexImage.jpg');
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    height: 100vh;
}


