*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('./images/spacexImage.jpg');
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

/* .App{
    height: calc(100vh);
} */



